.timer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .timerTitle {
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: bold;
        text-align: center;

        @media only screen and (max-width: 1300px) {
            font-size: 1.25rem;
        }
    }

    .timeControls {
        display: flex;
        align-items: center;
        justify-content: safe center;
        gap: 10px;

        :nth-child(1), :nth-child(3) {
            width: 100%;
        }

        .separator {
            font-size: 2rem;
            font-weight: 900;
            text-align: center;
            user-select: none;
            padding-bottom: 8px;
        }

    }

    .totalTime {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &.pomodoros {
        grid-row: 2;
        grid-column: 2 / 3;
    }

}