.main {
    p {
        line-height: 1.5rem;
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}