.main {

    h1 {
        font-size: 2.75rem !important;
    }

    .submit {
        width: 100%;
        grid-column: 1 / 4;
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            width: 100%;
            font-size: 1.25rem;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}