@use "sass:color";

.main {
    justify-content: start !important;
    h1 {
        font-size: 2rem !important;
    }

    .actions {
        width: 100%;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
        @media only screen and (max-width: 700px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        width: 100%;

        .separator {
            width: 100%;
            background-color: var(--tertiary);
            grid-column: 1 / 6;
            min-height: 3px;
            max-height: 3px;
        }

        .gridRowWrapper {
            display: contents;
            &:nth-child(even) {
                .projectItem, .projectActions {
                    background-color: #e2dfc8;
                }
            }
        }

        .projectItem {
            width: 100%;
            padding: 10px;
            font-weight: 550;
            line-height: 1.5rem;
        }

        .projectActions {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            a {
                color: var(--tertiary);
                background-color: transparent;
                height: 100%;
                width: 100%;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: white;
                    background-color: var(--tertiary);
                }
            }
        }
    }
}

.headerButton {
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        color: white;
        background-color: var(--tertiary);
    }
}