@use "sass:color";

.main {
    justify-content: start !important;
    h1 {
        font-size: 2rem !important;
    }

    .actions {
        width: 100%;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
        @media only screen and (max-width: 700px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        width: 100%;

        .gridRowWrapper {
            display: contents;
            position: relative;
            &:nth-child(even) {
                .projectItem, .projectActions {
                    background-color: var(--darkened-background);
                }
            }

            &:hover {
                .projectItem, .projectActions {
                    background-color: white;
                }
            }

            .projectItem:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            .projectActions {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .projectItem {
            width: 100%;
            padding: 10px 15px;
            font-weight: 550;
            line-height: 1.5rem;
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
        }

        .projectActions {
            display: flex;
            justify-content: right;
            align-items: center;
            height: 100%;
            width: 100%;
            gap: 5px;
            padding: 10px;
        }
    }
}

.headerButton, .headerTitle {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.headerTitle {
    padding: 10px;
    user-select: none;
}

.headerButton {
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: transparent;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    &:first-child {
        border-bottom-left-radius: 5px;
    }

    &:hover {
        color: white;
        background-color: var(--tertiary);
    }
}