.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
        -webkit-app-region: drag;
        -webkit-user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            -webkit-app-region: no-drag;
            border: none;
            border-radius: 0;
            cursor: pointer;
            color: var(--tertiary);
            background-color: var(--background);

            &:hover {
                cursor: pointer;
                color: white;
                background-color: var(--tertiary);
            }
        }

        .pomsLeft {
            font-weight: 600;
        }
    }

    .timerSection {
        padding: 0px 10px 10px 10px;
        text-align: center;
        user-select: none;
        display: flex;
        flex-direction: column;
        gap: 5px;

        :first-child {
            font-weight: 600;
        }

        :last-child {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .finished {
        padding: 0px 10px 10px 10px;
        text-align: center;
        user-select: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        
        align-items: center;
        justify-content: safe center;

        button {
            border-radius: 100%;
            aspect-ratio: 1 / 1;

            color: white;
            text-align: center;
            padding: 10px 12.5px;
        }

        .playButton {
            background-color: var(--primary);
            border: 3px solid var(--primary);

            &:hover {
                color: var(--primary);
                background-color: white;
            }

            & > [class="tooltip"] {
                bottom: 110%;
                top: auto;
            }
        }

        .restartButton {
            background-color: var(--tertiary);
            border: 3px solid var(--tertiary);

            &:hover {
                color: var(--tertiary);
                background-color: white;
            }

            & > [class="tooltip"] {
                bottom: 110%;
                top: auto;
            }

            .repeatOne {
                display: var(--fa-display, inline-block);
                height: 1em;
                overflow: visible;
                vertical-align: -0.125em;
                box-sizing: content-box;
            }

        }

    }
}